# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
fabric-ca-zero-v*.tar.gz
fabric-ca-zero/stuff/zerotoblockchain-webapp/node_modules/
fabric-ca-zero/stuff/zerotoblockchain-webapp/package-lock.json